html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: black;
    color: whitesmoke;
}

h1 {
    font-size: 75px;
}

.recipe-image {
    width: 400px;
    height: auto;
}

.ingredients {
    text-align: right;
    list-style: none;
}

.recipe-heading {
    text-align: center;
}

.recipe-links {
    display: flex;
    list-style: none;
    justify-content: center;
}

.recipe-links a {
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}